
.footer{
	height: 30vh;
	text-align: center;
	color: white;
	padding: 22px 0;
	background-color: white;
	margin-top: 24px;
	border-radius: 2px;
}
.footer p {
	color:  black;
	font-family: roboto;
	font-weight: bold;
}

.list-inline li{
	display: inline;
	font-size: 15px;
	margin: 0px;
	padding: 20px;
}

.list-inline{
	padding: 0;
}

.list-inline a{
	font-size: 20px;
	color:  rgba(O,O,0,0,3);
}
.list-inline a:hover{
	color: black;
}
